/* ! debug, to be removed */

body .debug{
    border: 1px solid blue;
}

.debug.col{
    border-color: red;
}

/* Generics */

/* Utils */

/* * Color Palette * */

:root{
    --orange: (#CD3D0F);
    --light-blue: (#0072CE);
    --blue: (#2D64E6);
    --footer-blue: (#00439C);
    --night-blue: (#161C3B);
    --white: (#fff);
    --light-gray: (#BEBCBB);
    --dark-gray: (#363636);
    --black: (#000);
}

h2{
    margin-bottom: 1.5rem;
}

#returnal .jumbotron-fluid{
    background-image: url(../img/jumbo-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.jumbotron-fluid .row{
    min-height: 750px;
}