/* * Color Palette * */

:root{
    --orange: #CD3D0F;
    --light-blue: #0072CE;
    --blue: #2D64E6;
    --footer-blue: #00439C;
    --night-blue: #161C3B;
    --white: #fff;
    --light-gray: #BEBCBB;
    --dark-gray: #363636;
    --darker-gray: #1F1F1F;
    --black: #000;
}

/* Utils */

.bgc-footer-blue{
    background-color: var(--footer-blue);
}

.bgc-night-blue{
    background-color: var(--night-blue);
}

.bgc-light-gray{
    background-color: var(--light-gray);
}

.bgc-blue{
    background-color: var(--blue);
}

.bgc-orange{
    background-color: var(--orange);
}

.bgc-darker-gray{
    background-color: #1F1F1F;
}

.c-light-blue{
    color: var(--light-blue);
}

.c-blue{
    color: var(--blue)
}

h2{
    margin-bottom: 1.5rem;
}


/* Main */

.jumbotron-fluid{
    background-repeat: no-repeat;
}

#returnal .jumbotron-fluid{
    background-image: url(../img/jumbo-bg.png);
    background-position: bottom;
}

#it-takes-two .jumbotron-fluid{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
.jumbotron-fluid .container > .row{
    min-height: 750px;
}

footer a{
    text-decoration: none;
    color: var(--white)
}

#sony-logo{
    font-size: 48px;
}